<!DOCTYPE html>
<html>

<!-- <head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>KiddosWorld| smart activity kit for children</title>
</head> -->

<body>
  <!-- header section start -->
  <header id="header" class="fixed-top">
    <div class="container-fluid top-header  ">
      <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav> -->

      <!-- <div data-aos="zoom-in-up" data-aos-duration="1000" class="main_header "> -->
      <nav class="navbar navbar-expand-lg navbar-light  ">
        <a class="navbar-brand mr-auto mb-auto" href="home.html">
          <img src="assets/img/KWlogo.png" alt="" class="logo-img">
        </a>
        <button class="navbar-toggler collapsed border-1" type="button" data-bs-toggle="collapse"
          data-bs-target=".navbarSupportedContent" aria-controls=".navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          <span class="close-icon my-1 mx-1"> ✖ </span>
        </button>

        <div class="collapse navbar-collapse navbarSupportedContent">
          <ul class="nav navbar navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#purchase" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"> SHOP-NOW </a> </li>
            <li class="nav-item">
              <a class="nav-link" href="#">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#footer">Contacts</a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link" routerLink="login">Login</a>
            </li>
          </ul>
        </div>
        <!-- <i class="bi mobile-nav-toggle bi-list "></i> -->

      </nav>
      <!-- </div> -->

    </div>


  </header>
  <!-- header section end -->

  <!-- main start -->
  <div id="main" class="fix">
    <img class="home-image" src="assets/img/homepage.png">
    <div class="main-content">
      <h1 class="mb-5">KiddosWorld</h1><br>
      <h2>inspiring creativity through arts</h2>
      <a href="#" class="shop-now">
        <button type="submit" id="btn-shopnow" class="btn btn-danger btn-lg mt-4">Shop-now</button>
      </a>
    </div>

  </div>
  <!------------- main end------------------ -->


  <!--------------------- About start------------------>
  <section id="about" class="about bg-white mt-5">
    <div class="container about-info">

      <div class="row">


        <div class="col-md-5 text-align-center">
          <h1>Indroducing KiddosWorld
            _________________________
          </h1>
          <p>
            <br><br><br>
            As we all know,today's young generation have many
            new creative ideas. KiddosWorld is smart activity
            subscription box designed to meet the creative
            needs of young developing minds.
            <br>
            <br>
            We believe that the role of arts in education cannot be denied any further and that it is high
            time our children get access to appropriate and effective art resources to explore their
            creativity and to express it.
            <br>
            <br>
            Each box contains a series of fun filled art and craft activities, books, DIY projects and other
            exciting collectibles uniquely designed to encourage curiosity and to inspire your child's
            natural creative instincts.
          </p>
          <a href="#purchase" class="btn btn-primary mb-2 mr-3">Shop-Now</a>
          <a href="https://google.com" class="btn btn-primary mb-2">DIY ART</a>
        </div>
        <div class="col-md-6">
          <img class="img-fluid"
            src="https://images.unsplash.com/photo-1503454537195-1dcabb73ffb9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80">

        </div>
      </div>
    </div>
  </section>
  <!--------------------------About seection end------------------->

  <!----------------- service section start---------------->
  <section id="service" class="service">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <img class="outer-slider"
            src="https://cdn2.vectorstock.com/i/1000x1000/11/01/artist-cute-kids-paint-art-child-creative-vector-18811101.jpg">
        </div>
        <div class="col-md-6">
          <div class="service_item mt-3">
            <div class="head-title">
              <h2 class="text-uppercase"><strong>HOW KIDDOSWORLD PLANS WORK? <br>
                  ______________________________</strong></h2>
            </div>
          </div>
          <div class="service_content">
            <p>KiddosWorld and ColouringSketch combo provides your kid a smart way to develop creativity.
            </p>
            <p>You can subscribe for your KiddosWorld based on any of our monthly subscription plans. </p>
            <p>After subscription you will receive at your door step every month a customized art activity
              box designed for your child's age group. </p>
            <p>KiddosWorld subscribers get access to the smart application ColouringSketch specially created
              for the kids to track their progress and participate in several events and competitions
              organised frequently.</p>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!----------------- service section end---------------->

  <!----------------- purchase section start---------------->

  <section id="purchase" class="purchase-now">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="head-title"></div>
          <h1><strong>Shop-Now <br> ____________</strong></h1>
        </div>
      </div>
      <div class="row">
        <!-- <div class="col-md-8"> -->
        <div class="subscribe">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  <span class="dot">1</span> <span class="headingbar">Age group</span>
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="free-shipping">
                    <i class="fa-solid fa-truck"></i><span>FREE SHIPPING on all subscriptions within
                      India</span>
                  </div>
                  <div class="agewise-block container">

                    <ol class="button-rect clear overflow-hidden">
                      <li class="col-md-3">
                        <label class="mobile-button">

                          <p class="logo-container">
                            <img src="assets/img/alexa.jpg" class="alexa" alt="">
                            <span class="artist">Little Artist</span>
                          </p>
                          <p class="ages">Ages 2-6</p>
                        </label>
                      </li>
                      <li class="col-md-3">
                        <label class="mobile-button">

                          <p class="logo-container">
                            <img src="assets/img/youngartist.jpg" class="alexa" alt="">
                            <span class="artist">Young Artist</span>
                          </p>
                          <p class="ages">Ages 7-9

                          </p>
                        </label>
                      </li>
                      <li class="col-md-3">
                        <label class="mobile-button">

                          <p class="logo-container">
                            <img src="assets/img/alexa.jpg" class="alexa" alt="">
                            <span class="artist">Senior Artist</span>
                          </p>
                          <p class="ages">Ages 10-12</p>
                        </label>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <span class="dot">2</span> <span class="headingbar">Length of subscription</span>
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the second item's accordion body.</strong> It is hidden by default,
                  until the collapse plugin adds the appropriate classes that we use to style each
                  element. These classes control the overall appearance, as well as the showing and
                  hiding via CSS transitions. You can modify any of this with custom CSS or overriding
                  our default variables. It's also worth noting that just about any HTML can go within
                  the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <span class="dot">3</span> <span class="headingbar">Price</span> </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div></div>
                  <div class=""></div>
                </div>
              </div>
            </div>
            <footer class="purchase-footer">
              <div class="footer-top">
                <p class="total-price">Price:</p>
                <button class="btn btn-primary btn-checkout"> Checkout>>
                </button>
              </div>

              <div class="row clear">
                <div class="cancel-policy d-flex justify-content-around">
                  <div class="col-md-3 free-delivery1">
                    <img src="assets/img/delivery-boy.png" class="footer-img" alt="">
                    <p class="img-content">Free-shipping</p>
                    <p>on all subscription within India</p>
                  </div>
                  <div class="col-md-3 free-delivery">
                    <img src="assets/img/cancel-img.png" class="footer-img" alt="">
                    <p>Cancel Anytime</p>
                    <p>No commitment</p>
                  </div>
                  <div class="col-md-3">
                    <img src="assets/img/help.png" class="footer-img" alt="">
                    <p>We can help you</p>
                    <p>Contact us at</p>
                    <a href="mailto:hd&#64;kiddosworld.com">hd&#64;kiddosworld.com</a>
                  </div>
                </div>
              </div>
            </footer>
          </div>
        </div>

      </div>
    </div>

  </section>
  <!----------------- purchase section end---------------->
  <!----------------- Footer Section satrt---------------->
  <section id="footer" class="footer">
    <footer id="contact" class="footer-bottom text-white text-lg-start ">
      <div class="container p-4 pb-0">
        <div class="row">
          <div class="col-md-3 col-lg-3 mt-3">
            <h6 class="mb-4 text-uppercase text-white font-weight-bold">
              KiddosWorld
            </h6>
            <p>
              Our Academy aims at developing a better environment where the current
              learning process could be made more interactive as well as fun
              generative with the help of creative thinking through arts and other contemporary
              educational methods.
            </p>
          </div>
          <hr class="w-100 d-md-none clearfix" />

          <div class="col-md-2 col-lg-2 col-sm-12 mx-auto mt-3">
            <i class="fas fa-link"></i>
            <h6 class=" d-inline text-white font-weight-bold text-uppercase">Links</h6>
            <ul class="list-unstyled footer-links">
              <li class="mt-4 mb-2"><a href="#">Terms and conditions</a></li>
              <li class="mb-2"><a href=" #">Delivery and Shipping</a> </li>
              <li class="mb-2"><a href="#">Refund and Cancellation</a> </li>
              <li class="mb-2"> <a href="#">Privacy policies</a></li>
            </ul>
          </div>
          <ul class="col-md-2 col-lg-2 mt-3 list-unstyled">
            <li>
              <h6 class="mb-4 p-2 text-uppercase text-white font-weight-bold fs-6">
                <i class=" fas fa-code-branch pr-2"></i>Branches :
                Mumbai, Chennai<br> Pune, Banglore
              </h6>
            </li>
            <li>
              <h6 class="mb-4 p-2 text-uppercase text-white font-weight-bold fs-6">
                <i class=" fas fa-phone-volume pr-2"></i>
                <p>Phone : <br>
                  +91-7708809900</p>
              </h6>
            </li>
            <li>
              <h6 class="mb-4 p-2 text-white font-weight-bold fs-6">
                <i class="far fa-envelope pr-2"></i> E-mail : <br>
                <a href="mailto:hd&#64;kiddosworld.com">hd&#64;kiddosworld.com</a>
              
              </h6>
            </li>

          </ul>
          <div class="col-md-3 col-lg-2 col-xl-2 col-sm-12 mx-auto mt-3 ">
            <span class="fa-stack fa-lg mb-3">
              <i class="fa fa-circle fa-stack-2x fbicon "></i>
              <i class="fa-brands fa-facebook-f fa-stack-1x fa-inverse "></i>
            </span>
            <span class="fa-stack fa-lg mb-3">
              <i class="fa fa-circle fa-stack-2x twittericon "></i>
              <i class="fa-brands fa-twitter fa-stack-1x fa-inverse "></i>
            </span>
            <span class="fa-stack fa-lg mb-3">
              <i class="fa fa-circle fa-stack-2x googleicon "></i>
              <i class="fa-brands fa-google fa-stack-1x fa-inverse "></i>
            </span>
            <span class="fa-stack fa-lg mb-3">
              <i class="fa fa-circle fa-stack-2x linkedinicon "></i>
              <i class="fa-brands fa-linkedin-in fa-stack-1x fa-inverse "></i>
            </span>
            <span class="fa-stack fa-lg mb-3">
              <i class="fa fa-circle fa-stack-2x instagramicon "></i>
              <i class="fa-brands fa-instagram fa-stack-1x fa-inverse "></i>
            </span>
            <span class="fa-stack fa-lg mb-3">
              <i class="fa fa-circle fa-stack-2x githubicon "></i>
              <i class="fa-brands fa-github fa-stack-1x fa-inverse "></i>
            </span>

          </div>
        </div>
        <!----row ends----->



      </div>
    </footer>

  </section>
  <!----------------- Footer Section end---------------->
  <!-- <script type="text/javascript" src="assets/JS/slide-img.js"></script> -->



</body>

</html>
