<div class="signup ">
    <div class="container bg-light mt-5 ">
        <div class=" signup-body p-5 border border-danger">
<form>
    <div class="form-row">
        <div class="form-group col-md-12">
          <label for="inputEmail4">Full name</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Full name">
        </div>
        </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
      </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="inputPassword4">Mobile number</label>
          <input type="password" class="form-control" id="inputPassword4" placeholder="Mobile number">
        </div>
    </div>
      <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputPassword4">Password</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputAlreadyMember4"><a routerLink="/login">Already a member? Login</a> </label>
        </div>
    </div>
  </form>
</div>
</div>
</div>