<div class="signup ">
    <div class="container bg-light mt-5 ">
        <div class=" signup-body p-5 border border-danger">
<form [formGroup]="signupForm" >
    <div class="form-row">
        <div class="form-group col-md-12">
          
          <label for="inputEmail4">Full name</label>
          <input  formControlName="fullName" type="email" class="form-control" id="full-name" placeholder="Full name">
          <small *ngIf="signupForm.controls['fullName'].dirty && signupForm.hasError('required','fullName')" class="text-danger">*Full name is required</small>
       
        </div>
        </div>

        <div class="form-row">
        <div class="form-group col-md-12">
       
        <label for="inputEmail4">Email</label>
        <input  formControlName="email" type="email" class="form-control" id="inputEmail4" placeholder="Email">
        <small *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required','email')" class="text-danger">*Email-id is required</small>
      </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="inputPassword4">Mobile number</label>
          <input formControlName="mobile" type="number" class="form-control" id="mobilenumber" placeholder="Mobile number">
          <small *ngIf="signupForm.controls['mobile'].dirty && signupForm.hasError('required','mobile')" class="text-danger">*Mobile Number is required</small>
        </div>
    </div>
      <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputPassword4">Password</label>
        <input formControlName="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
        <small *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required','password')" class="text-danger">*Password is required</small>
      </div>
    </div>
    <button type="submit" (click)="onSubmit()" class="btn btn-primary">Sign in</button>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputAlreadyMember4"><a routerLink="/login">Already a member? Login</a> </label>
        </div>
    </div>
  </form>
</div>
</div>
</div>